layout {
    pane split_direction="vertical" {
        pane size="25%" split_direction="horizontal" {
            pane
            pane
        }
        pane size="75%" focus=true command="nvim"
    }
}
