layout {
    tab name="monitor" {
        pane size=1 borderless=true {
            plugin location="zellij:tab-bar"
        }
        pane split_direction="vertical" {
            pane size="50%" command="btop"
            pane size="50%"
        }
        pane size=2 borderless=true {
            plugin location="zellij:status-bar"
        }
    }
}
